body {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 700;
    font-family: Roboto, Arial, sans-serif; 
    background-color: #849d8f;
    box-sizing: border-box;
}
h1 {
    font-size: 60px;
    line-height: 61px;
    font-weight: 900; 
    text-align: center;
}
h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    text-align: left;
}
p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    padding-left: 0
}

/* Слайдер главной страницы */
body > input[type=radio] {
    display: none;
}
.site-wrapper {
    min-width: 900px;
    background-color: #849d8f;
    background-image: url("/img/Main_slider_1.png");
    background-repeat: no-repeat;
    background-position: top center;
}
.slider-wrapper {
    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.slider {
    position: relative;
    box-sizing: border-box;
    min-width: 860px;
    max-width: 1146px;
    padding-top: 327px;
    text-align: center;
    color: #ffffff;
}
.slide {
    display: none;
}
.slider h1 {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 60px;
}
.slide-btn {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 64px;
    padding: 12px 50px;

    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slide-btn:hover {
    color: #ffffff;
    background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
    background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
    position: absolute;
    bottom: 22px;
    left: 0;
    z-index: 20;
    font-size: 0;
}
.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    background: transparent;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 50%;
    vertical-align: top;
}
.slider-controls label:hover {
    background-color:  rgba(248, 247, 244, 0.4);
}
#slide1:checked ~ .site-wrapper #slide-title1,
#slide2:checked ~ .site-wrapper #slide-title2,
#slide3:checked ~ .site-wrapper #slide-title3 {
  display: block;
}
#slide1:checked ~ .site-wrapper label[for="slide1"],
#slide2:checked ~ .site-wrapper label[for="slide2"],
#slide3:checked ~ .site-wrapper label[for="slide3"] {
  background-color: #ffffff;
}
/* Мороженки слайдера */
#slide1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/Main_slider_1.png");
}

#slide2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/Main_slider_2.png");
}

#slide3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/Main_slider_3.png");
}


/* СЕТКИ */

/* Главная страница */

body {
    
}
div.container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.main-header .container {
    min-height: 73px;
}
.main-navigation {
    font-size: 0;
}
.main-logo {
    display:inline-block;
    margin-top: 9px;
    margin-right: 10px;
    position: relative;
    right: 6px;
}
.main-navigation > ul {
    vertical-align: top;
    display:inline-block;
    font-size: 0;
    margin-top: 23px;
}
.main-menu {
    display:inline-block;
    box-sizing: border-box;
    height: 32px;
    padding: 7px 14px;
    position: relative;
}
.user-block {
    display: inline-block;
    position: relative;
    font-size: 0;
    margin-top: 23px;
}
.user-block > div {
    display: inline-block;
    position: relative;
    margin-left: 9px;
    vertical-align: top;
}
.user-block-btn {
    display: block;
    position: relative;
    box-sizing: border-box;
    height: 32px;
    padding: 8px 0;
    padding-left: 45px;
    padding-right: 17px;
}
.user-block-btn-search {
    width: 33px;
    padding-left: 0;
    padding-right: 0;
}
.user-block-btn-enter {
    width: 93px;
}
.user-block-btn-bascket {
    width: 117px;
}
.user-block-info {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 180px;
    text-align: right;
}
main { 
      
}
.promo-banners {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.promo-banners div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    min-width: 420px;
    max-width: 560px;
    min-height: 229px;
    padding: 20px; 
    padding-bottom: 24px;
}
.promo-banners .promo1 {
    margin-right: 20px;
}
.features {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.features-positioner {
    box-sizing: border-box;
    min-width: 860px;
    max-width: 1146px;
    min-height: 306px;
    padding: 25px 20px;
    padding-bottom: 13px;
}
.features p {
    margin-bottom: 10px;
}
.features ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin: 0;
    padding: 0;
}
.features li {
    position: relative;
    box-sizing: border-box;
    width: 48.7906%;
    margin-bottom: 11px;
    padding-top: 11px;
    padding-left: 57px;
}
.features li:first-child {
    order: -1; 
}
.features li:nth-child(2) {  
    order: 1;
}
.features li:nth-child(3) {
    order: 0;
}
.features li:last-child {
    order: 2;
}
.about2 {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.about2 div {
    box-sizing: border-box;
    min-width: 420px;
    max-width: 560px;
    min-height: 220px;
}
.about2 .blog {
    margin-right: 20px;
    padding: 26px 20px;
    padding-right: 70px;
    width: 50%;
}
.about2 .subscription {
    padding: 5px;
    width: 50%;
}
.subscription p {
    min-height: 88px;
    margin-bottom: 15px;
}
.about2 .background-inner {
    min-width: 410px;
    max-width: 550px;
    min-height: 210px;
    padding: 35px 20px;
    padding-top: 28px
}
.map { 
    position: relative;
    box-sizing: border-box;
    max-width: 1200px;
    min-width: 900px;
    min-height: 430px;
    margin: 0 auto;
}
.main-footer .container {
           -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
            justify-content: space-between;
      -webkit-box-align: center;
    -webkit-align-items: center;
         -ms-flex-align: center;
     -ms-grid-row-align: center;
            align-items: center;
    padding: 0 20px;
    height: 99px;
}
.footer-info-columns {
    display: inline-block;
}
.footer-info-columns:first-child {
    margin-right: 32px;
}
.footer-info-columns li {
    text-align: left;
}

/* Страница каталога */

.breadcrumbs,
.positioner,
.pagination {
    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
}
.h2{
    
}
.filter fieldset {
    
}
.filter {
    width: 860px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.catalog {
    
}
.catalog-container {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 40px;
    
}
.catalog-item {
    position: relative;
    box-sizing: border-box;
    min-width: 220px;
    max-width: 287px;
    padding: 0 10px;
}
.catalog-image {
    position: relative;
}
.item-price {
    position: absolute;
    left: 0;
    bottom: 18px;
}
.item-description {
    position: relative;
    width: 98%;
    margin: 0 auto;
    margin-top: 10px;
}
.catalog-image > img {
    display: block;
    width: 100%;
}
.pagination li {
    display: inline-block;
}


/* Ховеры */
.dropdown,
.hover,
.catalog-item-hover
{
    display: none;
}
.dropdown {
    position: absolute;
    left: -7px;
    top: 37px;
    z-index: 20;
    box-sizing: border-box;
    width: 143px;
    padding: 5px 0;
    border-radius: 5px;
    background-color:  #f8f7f4;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
 }
.dropdown li {
    padding: 5px 20px;
}
.dropdown li:first-child {
    margin-bottom: 5px;
}
.main-menu:hover .dropdown {
    display: block;
}
.novelties::after {
    content: "";
    position: absolute;
    top: 38px;
    left: 6px;
    display: block;
    width: 128px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}
.catalog-item:hover .catalog-item-hover{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    z-index: 20;
    top: -10px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 130%;
    min-height: 340px;
    padding-bottom: 20px;

    text-align: center;
    padding: 0 10px;
   
    border-radius: 5px;
    background-color:  rgba(255, 255, 255, 0.3);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); 
}
.catalog-item .btn{
    margin-bottom: 20px;
    display: block;
    height: 44px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: top;
}
.catalog-container:first-child .catalog-image,
.catalog-container:first-child .item-description {
    z-index: 100;
}
.catalog-container:first-child .catalog-item-hover {
    z-index: 99;
}
.catalog-container:nth-child(2) .catalog-image,
.catalog-container:nth-child(2) .item-description {
    z-index: 98;
}
.catalog-container:nth-child(2) .catalog-item-hover {
    z-index: 97;
}
.catalog-container:nth-child(3) .catalog-image,
.catalog-container:nth-child(3) .item-description {
    z-index: 96;
}
.catalog-container:nth-child(3) .catalog-item-hover {
    z-index: 95;
}
.catalog-container:last-child .catalog-image,
.catalog-container:last-child .item-description {
    z-index: 11;
}
.catalog-container:last-child .catalog-item-hover {
    z-index: 10;
}

/* ДЕКОРАТИВНЫЕ ЭЛЕМЕНТЫ */

/* Фильтры */

fieldset {
    position: relative;
    margin: 0;
    padding: 7px 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 30px;
}
fieldset legend {
    position: absolute;
    top: -22px;
    left: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.filter form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 110px
}
.filter-sort {
    position: relative;
    padding: 0;
}
.filter-sort::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    border-top: 5px solid #ffffff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.filter-sort select {
    padding: 9px 0;
    padding-right: 32px;
    padding-left: 15px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.filter-sort select::-ms-expand {
    display: none;
}
.filter-sort option {
    color: #323232;
}
.filter-sort:hover {
    background-color: white;
}
.filter-sort:hover::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    border-top: 5px solid #323232;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.filter-sort:hover select {
    color: #323232;
}
.filter-price {
    padding-right: 16px;
    padding-left: 16px;
}
.range-controls {
    position: relative;
    width: 188px;
    height: 22px;
}
.range-controls-scale {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}
.range-controls-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 53%;
    height: 4px;
    margin-left: 10%;
    background-color: #f8f7f4;
}
.range-controls-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #f8f7f4;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.range-controls-toggle-min {
    left: 18px;
}
.range-controls-toggle-max {
    left: 115px;
}
.filter-fat-content {
    padding-right: 19px;
    padding-left: 15px;
}
.filter-fat-content input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.filter-fat-content label {
    position: relative;
    margin-right: 15px;
    padding-left: 30px;
    line-height: 22px;
}
.filter-fat-content label:hover {
    cursor: pointer;
}
.filter-fat-content label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url("../img/filter-fat.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.filter-fat-content label:last-child {
    margin-right: 0;
}
.filter-fat-content label:hover::before {
    background-image: url("../img/filter-fat-hover.png");
}
#filter-fat1:checked ~ label[for="filter-fat1"]::before,
#filter-fat2:checked ~ label[for="filter-fat2"]::before,
#filter-fat3:checked ~ label[for="filter-fat3"]::before,
#filter-fat4:checked ~ label[for="filter-fat4"]::before {
    background-image: url("../img/filter-fat-checked.png");
}
#filter-fat1:checked ~ label[for="filter-fat1"]:hover::before,
#filter-fat2:checked ~ label[for="filter-fat2"]:hover::before,
#filter-fat3:checked ~ label[for="filter-fat3"]:hover::before,
#filter-fat4:checked ~ label[for="filter-fat4"]:hover::before {
    background-image: url("../img/filter-fat-checked-hover.png");
}
input[type="radio"]:disabled ~ label {
  color: rgba(255, 255, 255, 0.4);
}
input[type="radio"]:disabled ~ label::before {
  background-image: url("../img/filter-fat-disabled.png");
}
input[type="radio"]:disabled ~ label:hover::before {
  background-image: url("../img/filter-fat-checked-disabled.png");
}
.filter-flavors {
    padding-right: 26px;
    padding-left: 16px;
}
.filter-flavors input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
.filter-flavors label {
    position: relative;
    margin-right: 18px;
    padding-left: 30px;
    line-height: 22px;
    text-transform: lowercase;
}
.filter-flavors label:hover {
    cursor: pointer;
}
.filter-flavors label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url("../img/filter-flavors.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.filter-flavors label:last-child {
    margin-right: 0;
}
.filter-flavors label:hover::before {
    background-image: url("../img/filter-flavors-hover.png");
}
#filter-flavors1:checked ~ label[for="filter-flavors1"]::before,
#filter-flavors2:checked ~ label[for="filter-flavors2"]::before,
#filter-flavors3:checked ~ label[for="filter-flavors3"]::before,
#filter-flavors4:checked ~ label[for="filter-flavors4"]::before,
#filter-flavors5:checked ~ label[for="filter-flavors5"]::before {
    background-image: url("../img/filter-flavors-checked.png");
}
#filter-flavors1:checked ~ label[for="filter-flavors1"]:hover::before,
#filter-flavors2:checked ~ label[for="filter-flavors2"]:hover::before,
#filter-flavors3:checked ~ label[for="filter-flavors3"]:hover::before,
#filter-flavors4:checked ~ label[for="filter-flavors4"]:hover::before,
#filter-flavors5:checked ~ label[for="filter-flavors5"]:hover::before {
    background-image: url("../img/filter-flavors-checked-hover.png");
}
input[type="checkbox"]:disabled ~ label {
    color: rgba(255, 255, 255, 0.4);
}
input[type="checkbox"]:disabled ~ label::before {
    background-image: url("../img/filter-flavors-disabled.png");
}
input[type="checkbox"]:disabled ~ label:hover::before {
    background-image: url("../img/filter-flavors-checked-disabled.png");
}
.filter button[type="submit"] {
    box-sizing: border-box;
    width: 144px;
    height: 37px;
    padding: 7px 26px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    border-radius: 18px;
    outline: none;
}
.filter button[type="submit"]:hover {
    padding: 9px 28px;
    color: #323232;
    background-color: white;
    border: none;
    cursor: pointer;
}
.filter button[type="submit"]:active {
    padding: 9px 28px;
    background-color: #eaeaea;
    border: none;
    box-shadow: inset 0 2px 1px 0 #696969;
}

/* Иконки */

.user-block-btn-search::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 8px;
    display: block;
    width: 17px;
    height: 20px;

    background: url("../img/Sprite_user-block.png") no-repeat;
    background-position: 0 0;
    opacity: 1;
}
.user-block-btn-search:hover::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 8px;
    display: block;
    width: 17px;
    height: 20px;

    background: url("../img/Sprite_user-block_hover.png") no-repeat;
    background-position: 0 0;
    opacity: 1;
}
.user-block-btn-enter::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    display: block;
    width: 21px;
    height: 20px;

    background: transparent url("../img/Sprite_user-block.png") no-repeat;
    background-position: -51px 0 ;
    opacity: 1;
}
.user-block-btn-enter:hover::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    display: block;
    width: 21px;
    height: 20px;

    background: transparent url("../img/Sprite_user-block_hover.png") no-repeat;
    background-position: -316px 0 ;
    opacity: 1;
}
.user-block-btn-bascket::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    display: block;
    width: 21px;
    height: 20px;

    background: transparent url("../img/Sprite_user-block.png") no-repeat;
    background-position: -153px 0 ;
    opacity: 1;
}
.user-block-btn-bascket:hover::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    display: block;
    width: 21px;
    height: 20px;

    background: transparent url("../img/Sprite_user-block_hover.png") no-repeat;
    background-position: -941px 0 ;
    opacity: 1;
}
 .hits .catalog-image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;

    width: 61px;
    height: 61px;

    background-image: url("../img/Icon_Hit.png");
    background-repeat: no-repeat;
}
.features li:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 49px;
    height: 49px;

    background: transparent url("../img/Sprite_about.png") no-repeat;
    background-position: 0 0 ;
}
.features li:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 49px;
    height: 49px;

    background: transparent url("../img/Sprite_about.png") no-repeat;
    background-position: 0 -133px;
}
.features li:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 49px;
    height: 49px;

    background: transparent url("../img/Sprite_about.png") no-repeat;
    background-position: -420px 0 ;
}
.features li:last-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 49px;
    height: 49px;

    background: transparent url("../img/Sprite_about.png") no-repeat;
    background-position: -420px -133px;
}
.pin {
    content: " ";
    display: block;
    position: absolute;
    z-index: 20;
    top: 138px;
    left: 265px;
    width: 218px;
    height: 142px;
    background: url("../img/Map_pick.png") no-repeat;
}
.social-btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    box-sizing: border-box;
    width: 37px;
    height: 37px;
    margin-right: 11px;
    
    background-size: 31px 31px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.social-btn:last-child {
    margin-right: 0;
}
.social-btn:hover {
    border: 3px solid rgba(255, 255, 255, 0.71);
}
.social-btn:active {
    box-shadow: inset 0 2px 1px 0 #888888;
}
.social-btn-twit {
    background: transparent url("../img/Sprite_social-btn.svg") no-repeat;
    background-position: -1px -0.5px;
}
.social-btn-inst {
    background: transparent url("../img/Sprite_social-btn.svg") no-repeat;
    background-position: -50.5px -0.5px;
}
.social-btn-fb {
    background: transparent url("../img/Sprite_social-btn.svg") no-repeat;
    background-position: -99.5px -0.5px;
}
.social-btn-vk {
    background: transparent url("../img/Sprite_social-btn.svg") no-repeat;
    background-position: -148.5px -0.5px;
}
li.heart {
    position: relative;
}
li.heart::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -22px;
    display: block;
    width: 15px;
    height: 13px;

    background: transparent url("../img/Heart.svg") no-repeat;
    background-position: 0 0;
}


/* Кнопки */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 22px;
    background-color: #db4e33;
    background-image: linear-gradient(to bottom, #f16944, #c93926);
    border: none;
    border-radius: 25px;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
    cursor: pointer;
    
    color:  #fefefe;
    font-size: 18px; 
    font-weight: 700;
    line-height: 24px; 
    text-align: left;
}

.promo-banners .btn {
    box-sizing: border-box;
    height: 44px;
    align-self: flex-end;
}
.btn:hover {
    background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0px 1px 2px 0px #ac1000;
}

.btn:active {
    background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    
    padding-top: 60px;
    padding-bottom: 30px;
    position: relative;
}
.pagination ul {
    display: block;
    min-width: 190px;
    margin: 0;
    padding: 0;
}
.pagination-btn {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 26px;
    height: 26px;
    margin-right: 4px;

    line-height: 26px;
    text-align: center;

    border-bottom: none;
    border-radius: 50%;
}
.pagination-btn:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}

.pagination-btn:last-child {
    margin-right: 0;
}
.pagination .pagination-btn-active,
.pagination-btn:active {
    color: #323232;
    background-color: white;
}
.pagination-btn-active:hover {
    color: #323232;
    background-color: white;
}
.pagination-btn-prev {
    font-size: 0;
    box-sizing: border-box;
    width: 19px;
    height: 14px;
    background: url("../img/Sprite_pagination.svg") no-repeat;
    background-position: 0px 0px;
    border-radius: 0%;
    margin-right: 14px;
    cursor: default;
}
.pagination-btn-next {
    font-size: 0;
    width: 9px;
    height: 14px;
    background: url("../img/Sprite_pagination.svg") no-repeat;
    background-position: -127px 0px;
    border-radius: 0%;
    margin-left: 10px;
}
.pagination-btn-prev:hover,
.pagination-btn-next:hover {
    background-color: transparent;
}
/* Формы */

.subscription label {
    display: none;
}
.subscription form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    
}
.subscription input[type="email"] {
    flex-grow: 1;
    height: 44px;
    box-sizing: border-box;
    min-width: 229px;
    max-width: 368px;
    margin-right: 11px;
    margin-bottom: 0;
    padding-left: 15px;
    
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(178, 178, 178, 52);
    box-sizing: border-box;
    background-color:  #ffffff;
    
    color:  #999999;
    font-size: 16px; 
    font-weight: 400;
    line-height: 24px; 
    text-align: left;
}


/* Текст и ссылки */

a:link,
a:visited, 
a:active, 
a:hover {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}
a:active {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}
.main-menu a {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.main-menu:hover a {
    color: #323232;
    border-bottom: none;
}
.main-menu:hover {
    color: #323232;
    background-color: #f7f6f3;
    border-radius: 16px;
}
.main-menu-active {
    background-color:  #d07058;
    border-radius: 16px;
}
.main-menu-active a {
    border-bottom: none;
}
.dropdown a {
    color:  #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}
.dropdown li:hover {
    background-color:  #fbded8;
}
.dropdown li:active {
    background-color:  #f6b5a5;
}
.dropdown li.active {
    background-color:  #d07058;
}
.dropdown a.disabled {
    color: #ffffff;
    pointer-events: none;
    cursor: default;
}
.novelties a {
    color:  #323232;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
}
.user-block-btn {
    color:  #ffffff;
    font-size: 14px; 
    font-weight: 500;
    line-height: 16px; 
    text-align: left;
    background-color:  rgba(255, 255, 255, 0.2);
    border-radius: 16px; 
}
.user-block-btn-search {
    font-size: 0;
}
.user-block-btn:hover {
    color: #323232;
    background-color: #f8f7f4;
}
.user-block-info .info-time {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
.user-block-info .info-number {
    font-size: 22px;
    font-weight: 900;
    line-height: 24px;
}
.promo-banners p {
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}
.promo-banners a {
    color:  #ffffff;
    font-size: 18px; 
    font-weight: 700;
    line-height: 24px; 
    text-align: center;
    vertical-align: top;
}
.blog p {
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}
.blog a {
    display: inline-block;
    color: #353535;
    font-size: 24px; 
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-decoration: underline;
    max-width: 300px;
    margin-right: auto;
}
.blog a:hover {
    color: #ffbc9e;
}
.blog span {
    background-color:  rgba(255, 255, 255, 0.8);
}
.features p {
    color: #323232;
    font-size: 24px; 
    font-weight: 500;
    line-height: 30px; 
    text-align: left;
}
.features li {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; 
    text-align: left;
}
.about2 .background-inner {
    color: #5a5a5a;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}
.breadcrumbs li {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;   
}
.breadcrumbs a{
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.breadcrumbs a:hover {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}
.breadcrumbs a:active {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}
.breadcrumbs-link::after {
    content: "»";
    margin: 0 8px;
}
.filter {
    color: #ffffff; 
    font-size: 16px;
    font-weight: 500;
    line-height: 18px; 
}
.catalog-item .item-description {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px; 
    text-align: center;    
}
.item-description a {    
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

.item-description a:hover {
    border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}
.item-description a:active {
    border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}
.catalog-item .item-price {
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.item-price img {
    vertical-align: middle;
}
.catalog-item span {
    color:  #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.contacts .text {
    color:  #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    text-align: left;
}
.contacts .bold-text {
    color:  #323232;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}
.footer-info-columns li {
    color: #ffffff;
    font-size: 13px; 
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}
.footer-info a {
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.footer-info a:hover {
    border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}
.footer-info a:active {
    border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}
.footer-info-columns1 li:first-child {
    font-weight: 700;
}
.footer-copyright span {
    color: #fefefe;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}
.footer-copyright a {
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.footer-copyright a:hover {
    border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}
.footer-copyright a:active {
    border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

/* Фоны */

.promo-banners .promo1 {
    background: url("../img/Background_promo_1.png") no-repeat #bf0937;
    background-position: right top;
    border-radius: 15px;
}
.promo-banners .promo2 {
    background: url("../img/Background_promo_2.png") no-repeat #522e19;
    background-position: right top;
    border-radius: 15px;
}
.features-positioner {
    background: url("../img/waffle-pat.jpg") #ebdec3;
    border-radius: 15px;
}
.about2 .blog {
    background: url("../img/Background_about2_blog.png") no-repeat white;
    background-position: right top;
    border-radius: 15px;
}
.about2 .subscription {
    background-image: url("../img/Background_about2_subscription.png");
    background-color: white;
    border-radius: 15px;
}
.about2 .background-inner {
    background-color: white;
    border-radius: 15px;
}
.map {
    background: url("../img/Background_map.png") no-repeat white;
}
.contacts {
    position: absolute;
    top: 60px;
    right: 2.3%;
    z-index: 5;

    width: 252px;
    height: 255px;
    padding: 30px 25px;

    font-size: 14px;
    line-height: 20px;
    color: #323232;

    background-color: white;
    border-radius: 14px;
}
.contacts_adress {
    margin-top: 0;
    margin-bottom: 20px;
}
.contacts_phone {
    margin-bottom: 30px;
}
.contacts .btn {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}