body {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 700;
    font-family: Roboto, Arial, sans-serif; 
    background-color: #849d8f;
    box-sizing: border-box;
}
h1 {
    font-size: 60px;
    line-height: 61px;
    font-weight: 900; 
    text-align: center;
}
h2 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    text-align: left;
}
p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    padding-left: 0
}

/* Слайдер главной страницы */
body > input[type=radio] {
    display: none;
}
.site-wrapper {
    min-width: 900px;
    background-color: #849d8f;
    background-image: url("/img/Main_slider_1.png");
    background-repeat: no-repeat;
    background-position: top center;
}
.content-wrapper {
    margin: 0 auto;
}
.slider {
    position: relative;
    padding-top: 327px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
}
.slide {
    display: none;
}
.slider h1 {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 60px;
}
.slide-btn {
    display: inline-block;
    padding: 12px 50px;

    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slide-btn:hover {
    background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
    background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
    position: absolute;
    bottom: 25px;
    left: 0;
    z-index: 20;
    font-size: 0;
}
.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    background: transparent;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 50%;
    vertical-align: top;
}
#slide1:checked ~ .site-wrapper #slide-title1,
#slide2:checked ~ .site-wrapper #slide-title2,
#slide3:checked ~ .site-wrapper #slide-title3 {
  display: block;
}
#slide1:checked ~ .site-wrapper label[for="slide1"],
#slide2:checked ~ .site-wrapper label[for="slide2"],
#slide3:checked ~ .site-wrapper label[for="slide3"] {
  background-color: #ffffff;
}
/* Мороженки слайдера */
#slide1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/Main_slider_1.png");
}

#slide2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/Main_slider_2.png");
}

#slide3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/Main_slider_3.png");
}


/* СЕТКИ */

/* Главная страница */

body {
    
}
div.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
}
.main-header .container {
           -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
            justify-content: space-between;
      -webkit-box-align: center;
    -webkit-align-items: center;
         -ms-flex-align: center;
     -ms-grid-row-align: center;
            align-items: center;
    padding-top: 9px;
    padding-left: 14px;
    padding-right: 20px;
    padding-bottom: 0;
    height: 64px;
}
.main-navigation > * {
    display:inline-block;
    vertical-align: middle;
}
.main-menu {
    display:inline-block;
}
.user-block {
    display: inline-block;
    position: relative;
}
.user-block > div {
    display: inline-block;
}
.user-block-info {
    position: absolute;
    top: 43px;
    right: 0px;
    width: 180px;
    text-align: right;
}
main {
    
}
.promo-banners {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.promo-banners div {
    box-sizing: border-box;
    min-width: 420px;
    max-width: 560px;
    min-height: 229px;
    padding: 20px;
    padding-bottom: 24px;
}
.promo-banners .promo1 {
    margin-right: 20px;
}
.about {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.about-positioner {
    box-sizing: border-box;
    min-width: 860px;
    max-width: 1146px;
    min-height: 306px;
    padding: 26px 20px;
}
.about2 {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.about2 div {
    box-sizing: border-box;
    min-width: 420px;
    max-width: 560px;
    min-height: 220px;
}
.about2 .blog {
    margin-right: 20px;
    padding: 26px 20px;
    padding-right: 70px;
}
.about2 .subscription {
    padding: 5px;
}
.about2 .background-inner {
    min-width: 410px;
    max-width: 550px;
    min-height: 210px;
    padding: 35px 20px;
}
.map { 
    box-sizing: border-box;
    max-width: 1200px;
    min-width: 900px;
    min-height: 430px;
    margin: 0 auto;
}
.main-footer .container {
           -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
            justify-content: space-between;
      -webkit-box-align: center;
    -webkit-align-items: center;
         -ms-flex-align: center;
     -ms-grid-row-align: center;
            align-items: center;
    padding: 0 20px;
    height: 99px;
}
.footer-info-columns {
    display: inline-block;
}
.footer-info-columns:first-child {
    margin-right: 32px;
}
.footer-info-columns li {
    text-align: left;
}

/* Страница каталога */

.breadcrumbs,
.positioner,
.pagination {
    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.breadcrumbs li {
    display: inline-block;
}
.h2{
    
}
.filter fieldset {
    display: inline-block;
}
.filter {
    width: 860px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.catalog {
    
}
.catalog-container {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 40px;
    
}
.catalog-item {
    box-sizing: border-box;
    min-width: 220px;
    max-width: 287px;
    padding: 0 10px;
}
.catalog-image {
    position: relative;
}
.item-price {
    position: absolute;
    left: 0;
    bottom: 18px;
}
.item-description {
    width: 98%;
    margin: 0 auto;
    margin-top: 10px;
}
.catalog-image > img {
    display: block;
    width: 100%;
}
.pagination {
/*  padding-top: 70px;
    padding-bottom: 50px; */
}
.pagination li {
    display: inline-block;
}


/* Ховеры */

.dropdown,
.hover,
.catalog-item .btn{
    display: none;
}

/* ДЕКОРАТИВНЫЕ ЭЛЕМЕНТЫ */

/* Текст */

a:link,
a:visited, 
a:active, 
a:hover {
    color: #ffffff;
}

.user-block-info .info-time {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}
.user-block-info .info-number {
    font-size: 22px;
    font-weight: 900;
    line-height: 24px;
}
.blog p {
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}
.blog a {
    color: #353535;
    font-size: 24px; 
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.about p {
    color: #323232;
    font-size: 24px; 
    font-weight: 500;
    line-height: 30px; 
    text-align: left;
}
.about li {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; 
    text-align: left;
}
.about2 .background-inner {
    color: #5a5a5a;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}
.breadcrumbs li {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;   
}
.catalog-item .item-description {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px; 
    text-align: center;
}
.catalog-item .item-price {
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.item-price img {
    vertical-align: middle;
}
.catalog-item span {
    color:  #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.footer-info-columns li {
    color: #ffffff;
    font-size: 13px; 
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}
.footer-info-columns2 li:first-child {
    font-weight: 700;
}
.footer-copyright span {
    color: #fefefe;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

/* Фоны */

.promo-banners .promo1 {
    background: url("../img/Background_promo_1.png") no-repeat #bf0937;
    background-position: right top;
    border-radius: 15px;
}
.promo-banners .promo2 {
    background: url("../img/Background_promo_2.png") no-repeat #522e19;
    background-position: right top;
    border-radius: 15px;
}
.about-positioner {
    background: url("../img/waffle-pat.jpg") #ebdec3;
    border-radius: 15px;
}
.about2 .blog {
    background: url("../img/Background_about2_blog.png") no-repeat white;
    background-position: right top;
    border-radius: 15px;
}
.about2 .subscription {
    background-image: url("../img/Background_about2_subscription.png");
    background-color: white;
    border-radius: 15px;
}
.about2 .background-inner {
    background-color: white;
    border-radius: 15px;
}
.map {
    background: url("../img/Background_map.png") no-repeat white;
}